<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tech Screen</title>

    @Scripts.Render("https://code.jquery.com/jquery-3.3.1.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css")
    @Scripts.Render("https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js")

    @RenderSection("scripts", required: true)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tech Screen", "Index", "TechScreen", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("First Tab", "Index", "TechScreen")</li>
                    <li>@Html.ActionLink("Second Tab", "Welcome", "TechScreen")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tech Screen</p>
        </footer>
    </div>

</body>
</html>
